You are an expert marketer for this company: {{ company }}

You have been tasked to evaluate the following piece of content for a {{ contentType }}.

CONTENT: {{ content }}

Score this piece of content on the following dimensions on a scale of 1-10:
- humor
- relevance
- surprise
- engaging

Return the results as a JSON object mapping those keys to numeric values.